body {
  background-color: #FFF;
}

#uv-all-content {
  background-color: inherit;
}

#uv-main-content {
  overflow: hidden;
  background-color: #EEE;
}

#blockable-card {
  max-width: 640px;
}

body>md-tooltip {
  z-index: 150;
}

.scroll-y {
  overflow-y: auto;
  height: 100%;
}

.uv-minibutton.md-icon-button.md-button {
  display: inline;
  margin: 0;
  padding: 0;
}

button.uv-minibutton.md-icon-button.md-button {
  width: 20px;
  height: 20px;
}

.uv-minibutton.md-icon-button md-icon {
  display: inline !important;
  font-size: 18px;
}

.uv-success {
  color: var(--mat-green-600);
}

.uv-warning {
  color: var(--mat-orange-600);
}

.uv-error {
  color: var(--mat-red-500);
}

.uv-neutral {
  color: var(--mat-gray-600);
}

md-content {
  background-color: white;
}

md-toolbar.uv-site-alert span a {
  text-decoration: underline;
}

md-toolbar.uv-site-alert-info {
  background-color: var(--mat-yellow-600);
  color: #000;
}

md-toolbar.uv-site-alert-error {
  background-color: var(--mat-red-500);
  color: #FFF;
}
