<div layout-padding>
  <!-- Top Card -->
  <div ng-show="voteCtrl.card.$resolved">
    <uv-vote-card card="voteCtrl.card"></uv-vote-card>
  </div>

  <!-- Voting Buttons -->
  <div class="md-actions"
       layout="row"
       layout-align="start center"
       ng-show="voteCtrl.card.$resolved">
    <md-button class="md-raised md-primary" ng-click="voteCtrl.goToBlockable()">
      Go to Blockable
    </md-button>
  </div>

  <!-- Search Box -->
  <md-input-container flex>
    <label>Search</label>
    <input ng-model="voteCtrl.queryData.search"
           ng-model-options="{ debounce: 1000 }"
           ng-change="voteCtrl.search()"
           ng-focus="voteCtrl.searchSelected()" />
  </md-input-container>
  <div ng-show="voteCtrl.showSearchBase">Search In:
    <md-radio-group ng-model="voteCtrl.queryData.searchBase"
                    class="md-primary"
                    ng-change="voteCtrl.search()">
      <md-radio-button value="userEmail" class="md-primary">
        User Email
      </md-radio-button>
      <md-radio-button value="candidateId" class="md-primary">
        Blockable ID
      </md-radio-button>
      <md-radio-button value="candidateType" class="md-primary">
        Blockable Type
      </md-radio-button>
    </md-radio-group>
  </div>

  <!-- Results List -->
  <md-content layout-padding class="md-whiteframe-4dp" ng-show="voteCtrl.content.length > 0">
    <uv-listing>
      <listing-header>
        <uv-listing-header flex-gt-md="15" flex="25">User Email</uv-listing-header>
        <uv-listing-header flex-gt-md="15" flex="25">Date</uv-listing-header>
        <uv-listing-header flex-gt-md="15" flex="25">Blockable</uv-listing-header>
        <uv-listing-header flex-gt-md="15" flex="25">Blockable Type</uv-listing-header>
        <uv-listing-header hide show-gt-md flex="15">Vote Weight</uv-listing-header>
      </listing-header>
      <listing-body>
        <uv-listing-row on-select="voteCtrl.selectItem(item.key)" ng-repeat="item in voteCtrl.content">
          <uv-listing-cell>{{item.userEmail}}</uv-listing-cell>
          <uv-listing-cell>{{item.recordedDt | date:'mediumDate'}}</uv-listing-cell>
          <uv-listing-cell>{{item.candidateId}}</uv-listing-cell>
          <uv-listing-cell>{{item.candidateType}}</uv-listing-cell>
          <uv-listing-cell><span ng-if="!item.wasYesVote">-</span>{{item.weight}}</uv-listing-cell>
        </uv-listing-row>
      </listing-body>
    </uv-listing>
    <md-button class="md-raised md-primary"
               ng-show="voteCtrl.requestData.more"
               ng-click="voteCtrl.loadMore()">
      More
    </md-button>
  </md-content>
</div>
