<md-card layout="column" layout-align="start center">
  <md-card-content>
    <h3>Host: {{ card.id }}</h3>
    <div>
      Primary User: {{ card.primaryUser }}
    </div>
    <div>
      Hostname: {{ card.hostname }}
    </div>
    <div>
      Client Version: {{ card.santaVersion }}
    </div>
    <div>
      OS Version: {{ card.osVersion }}
    </div>
    <div>
      OS Build Number: {{ card.osBuild }}
    </div>
    <div>
      Last Preflight: {{ card.lastPreflightDt | date:'yyyy-MM-dd HH:mm:ss Z' }}
    </div>
    <div>
      Last Preflight IP: {{ card.lastPreflightIp }}
    </div>
    <div>
      Last Postflight: {{ card.lastPostflightDt | date:'yyyy-MM-dd HH:mm:ss Z' }}
    </div>
    <div>
      First Seen Date: {{ card.recordedDt | date:'mediumDate' }}
    </div>
    <div>
      Directory Whitelist Regex: {{ card.directoryWhitelistRegex }}
    </div>
    <div>
      Directory Blacklist Regex: {{ card.directoryBlacklistRegex }}
    </div>
    <div>
      Rules Last Sync'd: {{ card.ruleSyncDt | date:'yyyy-MM-dd HH:mm:ss Z' }}
    </div>
    <div ng-if="card.class_ && card.class_.includes('SantaHost')"
         ng-show="card.user.permissions.includes('EDIT_HOSTS')">
      Client Mode:
      <md-radio-group ng-model="card.clientMode" ng-change="onChange()">
        <md-radio-button value="MONITOR" class="md-primary">Monitor Mode</md-radio-button>
        <md-radio-button value="LOCKDOWN">Lockdown</md-radio-button>
      </md-radio-group>
    </div>
    <div ng-hide="card.user.permissions.includes('EDIT_HOSTS')">
      Client Mode: {{ card.clientMode | prettifyMode }}
    </div>
    <div ng-if="card.class_ && card.class_.includes('SantaHost')"
         ng-show="card.user.permissions.includes('EDIT_HOSTS')">
      <md-checkbox ng-model="card.clientModeLock" ng-change="onChange()">
        Lock Host Mode
      </md-checkbox>
    </div>
    <div ng-if="card.class_ && card.class_.includes('SantaHost')"
         ng-show="card.user.permissions.includes('EDIT_HOSTS')">
      <md-checkbox ng-model="card.shouldUploadLogs" ng-change="onChange()">
        Request Logs
      </md-checkbox>
    </div>
  </md-card-content>
</md-card>
