<!-- Search -->
<div flex layout="row" layout-padding class="host-search">
  <!-- Search Box -->
  <md-input-container>
    <label>Hostname</label>
    <input ng-model="hostCtrl.queryData.search"
           ng-model-options="{ debounce: 1000 }"
           ng-focus="hostCtrl.searchSelected()" />
  </md-input-container>

  <!-- Platform Selector -->
  <md-input-container>
    <md-select ng-model="hostCtrl.requestData.platform"
               ng-change="hostCtrl.updateOptions()">
      <md-option ng-repeat="platform in hostCtrl.platforms"
                 ng-value="platform.value">
        {{platform.displayName}}
      </md-option>
    </md-select>
  </md-input-container>

  <!-- Field Selector -->
  <md-radio-group ng-model="hostCtrl.queryData.searchBase"
                  class="md-primary">
    <md-radio-button ng-repeat="field in hostCtrl.fields"
                     ng-value="field.value" class="md-primary" >
      {{field.displayName}}
    </md-radio-button>
  </md-radio-group>

  <!-- Search Button -->
  <p>
    <md-button class="md-raised md-primary"
               ng-click="hostCtrl.search()"\>
        Search
    </md-button>
  </p>
</div>

<div flex layout="column" layout-padding layout-align="start center">


  <!-- Results List -->
  <div flex layout="column" ng-show="hostCtrl.content.length > 0" id="host-card-list">
    <md-card ng-repeat="host in hostCtrl.content"
             md-theme="default" md-theme-watch
             class="md-card-medium _md md-default-theme">
      <md-card-title>
        <md-card-title-media class="uv-platform-logo">
          <img ng-src="{{hostCtrl.hostUtils.getPlatformImageURL(host)}}"
               class="md-card-image uv-platform-logo"
               alt="{{host.operatingSystemFamily}}">
        </md-card-title-media>
        <md-card-title-text>
          <span class="md-headline">
            {{ host.hostname }}
          </span>
          <span class="md-subhead uv-host-card-detail">
            Status:
            <span ng-class="hostCtrl.hostUtils.isInLockdown(host) ? 'protected-host' : 'unprotected-host'"
                  ng-if="hostCtrl.hostUtils.isBit9Host(host)">
              {{ host.policyEnforcementLevel | prettifyEnforcementLevel }}
            </span>
            <span ng-class="hostCtrl.hostUtils.isInLockdown(host) ? 'protected-host' : 'unprotected-host'"
                  ng-if="hostCtrl.hostUtils.isSantaHost(host)">
              {{ host.clientMode | prettifyMode }}
            </span>
          </span>
          <span ng-if="hostCtrl.hostUtils.isSantaHost(host)"
                class="md-subhead uv-host-card-detail">
            Primary User:
            <span class="uv-host-card-value">
              {{ host.primaryUser }}
            </span>
          </span>
          <span class="md-subhead uv-host-card-detail"
                ng-if="hostCtrl.detailsVisible(host.id)">
            First Seen:
            <span class="uv-host-card-value">
              {{ host.recordedDt | date:'mediumDate' }}
            </span>
          </span>
          <span class="md-subhead uv-host-card-detail"
                ng-if="hostCtrl.hostUtils.isSantaHost(host) && hostCtrl.detailsVisible(host.id)">
            OS Version:
            <span class="uv-host-card-value">
              {{ host.osVersion }}
            </span>
          </span>
          <span class="md-subhead uv-host-card-detail"
                ng-if="hostCtrl.hostUtils.isSantaHost(host) && hostCtrl.detailsVisible(host.id)">
            Client Version:
            <span class="uv-host-card-value">
              {{ host.santaVersion }}
            </span>
          </span>
          <span class="md-subhead uv-host-card-detail"
                ng-if="hostCtrl.hostUtils.isSantaHost(host) && hostCtrl.detailsVisible(host.id)">
            Last Rule Sync:
            <span class="uv-host-card-value">
              {{ host.ruleSyncDt | date:'mediumDate' }}
            </span>
          </span>
          <span class="md-subhead uv-host-card-detail"
                ng-if="hostCtrl.hostUtils.isSantaHost(host) && hostCtrl.detailsVisible(host.id)">
            Last Preflight:
            <span class="uv-host-card-value">
              {{ host.lastPreflightDt | date:'yyyy-MM-dd HH:mm:ss Z' }}
            </span>
          </span>
          <span class="md-subhead uv-host-card-detail"
                ng-if="hostCtrl.hostUtils.isSantaHost(host) && hostCtrl.detailsVisible(host.id)">
            Last Postflight:
            <span class="uv-host-card-value">
              {{ host.lastPostflightDt | date:'yyyy-MM-dd HH:mm:ss Z' }}
            </span>
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="left center"
                       class="layout-align-start-center layout-row">
        <button class="md-button md-default-theme md-ink-ripple"
                ng-click="hostCtrl.goToHostEvents(host.id)"
                type="button">
          <span class="ng-scope">Show Events</span>
        </button>
        <button class="md-button md-default-theme md-ink-ripple"
                type="button"
                ng-if="hostCtrl.canEnableMonitorMode(host)"
                ng-click="hostCtrl.enableMonitorMode(host)">
          <span class="ng-scope">Enable Monitor Mode</span>
        </button>
        <button class="md-button md-default-theme md-ink-ripple"
                type="button"
                ng-if="hostCtrl.canEnableLockdownMode(host)"
                ng-click="hostCtrl.enableLockdownMode(host)">
          <span class="ng-scope">Enable Lockdown Mode</span>
        </button>
        <button class="md-button md-default-theme md-ink-ripple"
                type="button"
                ng-if="hostCtrl.canToggleClientModeLock(host)"
                ng-click="hostCtrl.toggleClientModeLock(host)">
          <span class="ng-scope" ng-if="!host.clientModeLock">Prevent Group Mode Change</span>
          <span class="ng-scope" ng-if="host.clientModeLock">Allow Group Mode Change</span>
        </button>
        <button class="md-button md-default-theme md-ink-ripple"
                ng-click="hostCtrl.showDetails(host.id)"
                type="button"
                ng-if="!hostCtrl.detailsVisible(host.id)">
          <span class="ng-scope">Show Details</span>
        </button>
        <button class="md-button md-default-theme md-ink-ripple"
                ng-click="hostCtrl.hideDetails(host.id)"
                type="button"
                ng-if="hostCtrl.detailsVisible(host.id)">
          <span class="ng-scope">Hide Details</span>
        </button>
      </md-card-actions>
    </md-card>

  </div>

  <md-button class="md-raised md-primary"
             ng-show="hostCtrl.requestData.more"
             ng-click="hostCtrl.loadMore()">
    More
  </md-button>

</div>
