<md-card layout="column" layout-align="start center">
  <md-card-content>
    <h3>Email: {{ card.id }}</h3>
    <div>
      Vote Weight: {{ card.voteWeight }}
    </div>
    <div ng-show="card.rootScope.currentUser.permissions.includes('EDIT_USERS')">
      <h3>Roles</h3>
      <md-checkbox ng-checked="card.roles.includes('USER')"
                   ng-click="card.toggleListMembership('USER', card.roles)">
        User
      </md-checkbox>
      <md-checkbox ng-checked="card.roles.includes('TRUSTED_USER')"
                   ng-click="card.toggleListMembership('TRUSTED_USER', card.roles)">
        Trusted User
      </md-checkbox>
      <md-checkbox ng-checked="card.roles.includes('UNTRUSTED_USER')"
                   ng-click="card.toggleListMembership('UNTRUSTED_USER', card.roles)">
        Untrusted User
      </md-checkbox>
      <md-checkbox ng-checked="card.roles.includes('SUPERUSER')"
                   ng-click="card.toggleListMembership('SUPERUSER', card.roles)">
        Superuser
      </md-checkbox>
    </div>
    <div ng-hide="card.rootScope.currentUser.permissions.includes('EDIT_USERS')">
      <h3>Roles</h3>
      <p ng-show="card.roles.includes('USER')">
        User
      </p>
      <p ng-show="card.roles.includes('TRUSTED_USER')">
        Trusted User
      </p>
      <p ng-show="card.roles.includes('UNTRUSTED_USER')">
        Untrusted User
      </p>
      <p ng-show="card.roles.includes('SUPERUSER')">
        Superuser
      </p>
    </div>
  </md-card-content>
</md-card>
