
#status-annotation {
  margin-left: 5px;
}

#host-card-list {
  margin: auto;
  padding: 16px 0px;
  width: 70%;
}

.host-card {
  margin: 16px;
}

.host-card .md-title {
  cursor: text;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .005em;
  margin: 8px 0px;
}

.host-card .card-actions {
  margin: 0px 16px 16px 16px;
}

.host-card md-card-header {
  background: var(--mat-blue-500);
  color: white;
}

.host-card md-card-content .detail-name {
  font-weight: bold;
}

.host-card md-card-content li {
  margin-bottom: 4px;
}

.host-card md-card-content span.full-protection {
  color: var(--mat-green-500);
  font-weight: bold;
}

.host-card md-card-content span.developer-mode {
  color: var(--mat-yellow-500);
  font-weight: bold;
}

.host-card md-card-content span.minimal-protection {
  color: var(--mat-red-500);
  font-weight: bold;
}

.host-card md-card-actions .md-button md-icon {
  margin-bottom: 2px;
}

.host-card md-card-actions .md-button.full-protection {
  background: var(--mat-green-500);
  color: white;
}

.host-card md-card-actions .md-button.developer-mode {
  background: var(--mat-yellow-500);
  color: white;
}

.host-card md-card-actions .md-button.minimal-protection {
  background: var(--mat-red-500);
  color: white;
}
