<div flex layout="column" layout-padding layout-align="start center" style="padding: 0px;">

  <div flex ng-hide="hostListCtrl.hosts != null">
    <md-progress-circular id="page-load-spinner" md-mode="indeterminate" md-diameter="96"></md-progress-circular>
  </div>

  <div flex
       layout="column"
       ng-show="hostListCtrl.hosts != null && hostListCtrl.hosts.length > 0"
       id="host-card-list">
    <md-card ng-repeat="host in hostListCtrl.hosts"
             md-theme="default" md-theme-watch
             class="md-card-medium _md md-default-theme host-card"
             ng-if="!host.hidden || hostListCtrl.showHidden">

      <md-card-header>
        <md-card-avatar>
          <md-icon class="md-avatar-icon"
                   md-svg-icon="{{hostListCtrl.hostService.getPlatformImageURL(host)}}">
          </md-icon>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">{{ host.hostname }}</span>
        </md-card-header-text>
      </md-card-header>

      <md-card-content>
        <ul>
          <li>
            <span class="detail-name">Protection:</span>
            <span ng-class="hostListCtrl.getProtectionClass(host)">
              {{ hostListCtrl.getProtectionText(host) }}
            </span>
          </li>
          <li ng-if="hostListCtrl.hostService.isSantaHost(host)">
            <span class="detail-name">Primary User:</span>
            <span>{{ host.primaryUser }}</span>
          </li>
          <li>
            <span class="detail-name">Last Sync:</span>
            <span ng-if="host.ruleSyncDt">
              {{ host.ruleSyncDt | date:'mediumDate' }}
            </span>
            <span ng-if="host.lastEventDt">
              {{ host.lastEventDt | date:'mediumDate' }}
            </span>
            <span ng-if="!host.ruleSyncDt && !host.lastEventDt">
              Never
            </span>
          </li>
        </ul>
      </md-card-content>

      <md-card-actions layout="row"
                       layout-align="end center"
                       class="card-actions">
        <md-button class="md-raised modify-protection"
                   ng-click="hostListCtrl.goToModifyProtectionPage(host.id)"
                   ng-show="hostListCtrl.canModifyProtection(host)">
          <md-icon>settings</md-icon>
          <span class="ng-scope">Modify Protection</span>
        </md-button>
        <md-button class="md-raised"
                   ng-click="hostListCtrl.goToBlockablesPage(host.id)">
          <md-icon>view_list</md-icon>
          <span class="ng-scope">Applications</span>
        </md-button>
        <md-button class="md-raised"
                   ng-click="hostListCtrl.toggleVisibility(host)"
                   ng-hide="host.hidden">
          <md-icon>visibility_off</md-icon>
          <span class="ng-scope">Hide</span>
        </md-button>
        <md-button class="md-raised"
                   ng-click="hostListCtrl.toggleVisibility(host)"
                   ng-show="host.hidden">
          <md-icon>visibility</md-icon>
          <span class="ng-scope">Show</span>
        </md-button>
      </md-card-actions>

    </md-card>

    <md-button ng-click="hostListCtrl.showHidden = !hostListCtrl.showHidden">
      {{ hostListCtrl.showHidden ? 'Hide' : 'Show Hidden' }}
    </md-button>

  </div>
</div>
