<div layout-padding>
  <!-- Top Card -->
  <div ng-show="auditlogCtrl.card.$resolved">
    <uv-log-card card="auditlogCtrl.card"></uv-log-card>
  </div>

  <!-- Search Box -->
  <md-input-container flex>
    <label>Search</label>
    <input ng-model="auditlogCtrl.queryData.search"
           ng-model-options="{ debounce: 1000 }"
           ng-change="auditlogCtrl.search()"
           ng-focus="auditlogCtrl.searchSelected()" />
  </md-input-container>
  <div ng-show="auditlogCtrl.showSearchBase">Search In:
    <md-radio-group ng-model="auditlogCtrl.queryData.searchBase"
                    class="md-primary"
                    ng-change="auditlogCtrl.search()">
      <md-radio-button value="id" class="md-primary" >
        ID
      </md-radio-button>
      <md-radio-button value="event" class="md-primary">
        Event
      </md-radio-button>
      <md-radio-button value="user" class="md-primary">
        User
      </md-radio-button>
      <md-radio-button value="objectId" class="md-primary">
        Object ID
      </md-radio-button>
    </md-radio-group>
  </div>

  <!-- Results List -->
  <md-content layout-padding class="md-whiteframe-4dp" ng-show="auditlogCtrl.content.length > 0">
    <uv-listing>
      <listing-header>
        <uv-listing-header flex-gt-md="15" flex="25">ID</uv-listing-header>
        <uv-listing-header flex-gt-md="15" flex="25">Recorded</uv-listing-header>
        <uv-listing-header flex-gt-md="15" flex="25">Event</uv-listing-header>
        <uv-listing-header flex-gt-md="15" flex="25">User</uv-listing-header>
        <uv-listing-header hide show-gt-md flex="15">Object Key</uv-listing-header>
        <uv-listing-header hide show-gt-md flex="15">Object Type</uv-listing-header>
        <uv-listing-header hide show-gt-md flex="15">Object ID</uv-listing-header>
      </listing-header>
      <listing-body>
        <uv-listing-row on-select="auditlogCtrl.selectItem(item.id)" ng-repeat="item in auditlogCtrl.content">
          <uv-listing-cell>{{item.id}}</uv-listing-cell>
          <uv-listing-cell>{{item.recordedDt | date:'mediumDate'}}</uv-listing-cell>
          <uv-listing-cell>{{item.logEvent}}</uv-listing-cell>
          <uv-listing-cell>{{item.user}}</uv-listing-cell>
          <uv-listing-cell>{{item.targetObjectKey}}</uv-listing-cell>
          <uv-listing-cell>{{item.targetObjectType}}</uv-listing-cell>
          <uv-listing-cell>{{item.targetObjectId}}</uv-listing-cell>
          <md-tooltip>
            {{item.id}},
            {{item.recordedDt | date:'mediumDate'}},
            {{item.logEvent}},
            {{item.user}},
            {{item.targetObjectKey}},
            {{item.targetObjectType}},
            {{item.targetObjectId}}
          </md-tooltip>
        </uv-listing-row>
      </listing-body>
    </uv-listing>
    <md-button class="md-raised md-primary"
               ng-show="auditlogCtrl.requestData.more"
               ng-click="auditlogCtrl.loadMore()">
      More
    </md-button>
  </md-content>
</div>
